@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
:root {
  --primaryBackgroundColor: #00171f;
  --primaryTextColor: #f2f4f3;
  --secondaryTextColor: rgb(22, 185, 185);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primaryTextColor);
  background-color: var(--primaryBackgroundColor);
  word-spacing: 0.2rem;
}

img {
  object-fit: cover;
}

/* empty section style */
.emptySection {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 5rem 1rem;

  color: var(--secondaryTextColor);
  font-size: 2.5rem;
}
.emptySection h1{
  margin: 3rem 0;
}


@media only screen and (max-width: 556px) {
  html {
    font-size: 8px;
  }
}
